#menu_crud{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

form{
    width: 600px;
    background-color: rgb(46, 46, 46);
    padding: 10px;
    border-radius: 10px;
    color: white;

}